<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat DA Burger</title>
	<link rel="icon" href="../public/assets/img/Krabby_Patty.png">
	<!-- Stylesheets-->
	<link rel="stylesheet" type="text/css" href="../public/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../public/assets/css/burger_style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	 crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>